In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df=pd.read_csv('covid_toy.csv')

In [4]:
df.sample(5)

    age  gender  fever   cough       city has_covid
24   13  Female  100.0  Strong    Kolkata        No
81   65    Male   99.0    Mild      Delhi        No
53   83    Male   98.0    Mild      Delhi       Yes
62   56  Female  104.0  Strong  Bangalore       Yes
80   14  Female   99.0    Mild     Mumbai       Yes

In [5]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_tesy = train_test_split(df.drop(columns=['has_covid']) ,df['has_covid'] , test_size=0.2)

<h1> 1. Aaam Zindagi </h1>

In [7]:
si=SimpleImputer()
x_train_fever=si.fit_transform(x_train[['fever']])

x_test_fever=si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

Missing Value Avg value thi replace thai gyi

In [8]:
#OrdinalEnconing --> Cough

oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

#also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [9]:
# OneHotEncoding --> gender,city
ohe=OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

# also the test data
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [10]:
#Extracting Age

x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values
x_test_age=x_test.drop(columns=['gender','fever','cough','city']).values

x_train_age.shape

(80, 1)

In [11]:
#It's time to concat everything

x_train_transformed=np.concatenate(( x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

x_t_traestnsformed=np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)

x_train_transformed.shape

(80, 7)

<h1> 2.Mentos Zindagi</h1>

In [12]:
from sklearn.compose import ColumnTransformer

In [15]:
transformer= ColumnTransformer (transformers=[
    ('tnf1', SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [16]:
transformer.fit_transform(x_train).shape

(80, 7)