In [9]:
import pandas as pd

# working with json

In [10]:
pd.read_json('test.json')

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

# Working with sql

we have to use mysql.connector library to connect sql data to python

In [11]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/narendra/myenv/lib/python3.12/site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import mysql.connector

In [17]:
con=mysql.connector.connect(host='localhost',user="root",password='',database='world')

In [18]:
pd.read_sql_query("select * from city", con)

/tmp/ipykernel_19074/3732909689.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from city", con)

        ID            Name CountryCode       District  Population
0        2        Qandahar         AFG       Qandahar      237500
1        3           Herat         AFG          Herat      186800
2        4  Mazar-e-Sharif         AFG          Balkh      127800
3        5       Amsterdam         NLD  Noord-Holland      731200
4        6       Rotterdam         NLD   Zuid-Holland      593321
...    ...             ...         ...            ...         ...
4073  4075      Khan Yunis         PSE     Khan Yunis      123175
4074  4076          Hebron         PSE         Hebron      119401
4075  4077        Jabaliya         PSE     North Gaza      113901
4076  4078          Nablus         PSE         Nablus      100231
4077  4079           Rafah         PSE          Rafah       92020

[4078 rows x 5 columns]